PORT=4000
FRONTEND_BASE_URL=http://127.0.0.1:3000
FRONTEND_ORIGIN=http://127.0.0.1:3000,http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:4000/api/google-calendar/callback
